<!DOCTYPE html>
<html lang="es">

<head>
	<title>Sobre nosotros</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Your description">
	<meta name="keywords" content="Your keywords">
	<meta name="author" content="Your name">
	
	<link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">
	<link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon" />

	<link href="/static/css/bootstrap.css" rel="stylesheet">
	<link href="/static/css/font-awesome.css" rel="stylesheet">

	<link href="/static/css/touchTouch.css" rel="stylesheet">
	<link href="/static/css/isotope.css" rel="stylesheet">
	<link href="/static/css/style.css" rel="stylesheet">

	<script src="/static/js/jquery.js"></script>
	<script src="/static/js/jquery-migrate-1.2.1.min.js"></script>
	<script src="/static/js/jquery.easing.1.3.js"></script>
	<script src="/static/js/superfish.js"></script>

	<script src="/static/js/jquery.queryloader2.js"></script>

	<script src="/static/js/jquery.ui.totop.js"></script>
	<script src="/static/js/jquery.equalheights.js"></script>

	<script src="/static/js/jquery.parallax-1.1.3.resize.js"></script>

	<script src="/static/js/SmoothScroll.js"></script>

	<script src="/static/js/touchTouch.jquery.js"></script>
	<script src="/static/js/jquery.isotope.min.js"></script>

	<script src="/static/js/jquery.mobile.customized.min.js"></script>
	<script src="/static/js/camera.js"></script>

	<script src="/static/js/scripts.js"></script>


</head>

<body class="multipage not-front">
	<div id="main">

		<div id="top1">
			<div class="container">

				<header>
					<div class="logo_wrapper"><a href="index.html" class="logo scroll-to"><img
								src="/static/images/Logohechos.png" alt="" class="img-responsive-old"></a></div>
				</header>

				<div class="navbar navbar_ navbar-default">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
						data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<div class="navbar-collapse navbar-collapse_ collapse">
						<ul class="nav navbar-nav sf-menu clearfix">
							<li class="active"><a href="{% url 'principal' %}">Inicio</a></li>
							<li><a href="{% url 'objetivos' %}">Objetivos</a></li>
							<li><a href="{% url 'areas' %}">areas</a></li>
							<li><a href="{% url 'nosotros' %}">Sobre Nosotros</a></li>
							<li><a href="{% url 'blog' %}">Blog</a></li>
							<li><a href="{% url 'login' %}">Login</a></li>
							<li><a href="index.html#contacts">Contacto</a></li>
						</ul>
					</div>
				</div>

			</div>
		</div>



		<div id="home-subpage">
			<div id="home-subpage-inner">

				<div class="page_slide"><img src="/static/images/page_slide1.jpg" alt=""></div>

				<div class="h1_wrapper">
					<div class="container">
						<h1>Areas de actividades en la fundacion</h1>
					</div>
				</div>


			</div>
		</div>

		<div class="home_bot">
			<div class="container">

				<div class="phone1_wrapper">
					<div class="phone1 clearfix"><i class="fa fa-phone-square"></i><span>Contacto 3725-455384</span>
					</div>
				</div>

				<div class="social_wrapper">
					<ul class="social clearfix">

						<li><a href="https://www.instagram.com/hechocon_alma/?hl=es-la"><i
									class="fa fa-instagram"></i></a></li>
						<li><a href="https://www.facebook.com/Hechos-con-Alma-106138340788976/"><i
									class="fa fa-facebook-square"></i></a></li>

					</ul>
				</div>

				<a href="#content" class="home_link1 scroll-to"><i class="fa fa-arrow-circle-o-down"></i></a>



			</div>
		</div>

		<div id="content">
			<div class="container">
				<div class="row">
					<div class="col-sm-9 minheight1">

						<h2>Conoce un poco mas sobre las personas detras de esta fundacion.</h2>

						<div class="row">
							<div class="col-sm-4">

								<div class="thumb1">
									<div class="thumbnail">
										<figure><img src="/static/images/huerta.jpg" alt=""></figure>
									</div>
								</div>

								<div class="thumb1">
									<div class="thumbnail">
										<figure><img src="/static/images/huerta2.jpg" alt="porotos"></figure>
									</div>
								</div>

								<div class="thumb1">
									<div class="thumbnail">
										<figure><img src="/static/images/fund5.jpg" alt=""></figure>
									</div>
								</div>

								<div class="thumb1">
									<div class="thumbnail">
										<figure><img src="/static/images/fund8.jpg" alt=""></figure>
									</div>
								</div>

								<div class="thumb1">
									<div class="thumbnail">
										<figure><img src="/static/images/radio.jpg" alt=""></figure>
									</div>
								</div>

							</div>
							<div class="col-sm-8">

								<p>En la fundacion Hechos con Almas llevamos a cabo distintas actividades y queremos que
									conozcas a las personas que se encuentran haciendo que esto sea posible </p>


								<h3>Taller de acompañamiento en duelo</h3>
								<li> Encargada: Ely Scarel</li>
								<br>
								<p> Colaboradores: </p>
								<li>Natalia Sosa</li>
								<li>Rodolfo Insaurralde</li>
								<li>Rocío Moreno</li>
								<li>Katy</li>

								</li>

								<h3>Huerta agroecológica</h3>

								<li> Encargada: Elsa Oviedo</li>
								<br>
								<p> Colaboradores: </p>
								<li>Rodolfo I.</li>


								<h3>Elaboración y venta de productos de limpieza</h3>
								<li> Encargada: Maria José</li>

								<h3>Comedor y merendero</h3>
								<li> Encargada: Maria José</li>
								<br>
								<p> Colaboradores: </p>
								<li>Romina.</li>
								<li>Elsa.</li>
								<li>Ely.</li>
								<li>Sonia</li>


								<h3>Prensa y Radio</h3>
								<p>Director:</p>
								<li>Mauri Abraham</li>

								<br>

								<p>Conductores:</p>
								<li>Walter</li>
								<li>Maria José</li>
								<li>Blanca</li>

								<br>

								<p>Productores:</p>
								<li>Natalia</li>
								<li>Emanuel</li>
								<li>Jony</li>




							</div>
						</div>

					</div>



				</div>
			</div>
		</div>

		<footer>
			<div class="container">
				<div class="footer_inner clearfix">

					<div class="copy1">Fundacion "Hechos con alma" Fundada en 2019 .</div>
					<div class="social_wrapper">
						<ul class="social clearfix">

							<li>Seguinos en nuestras redes</li>
							<li><a href="https://www.instagram.com/hechocon_alma/?hl=es-la"><i
										class="fa fa-instagram"></i></a></li>
							<li><a href="https://www.facebook.com/Hechos-con-Alma-106138340788976/"><i
										class="fa fa-facebook-square"></i></a></li>

						</ul>
					</div>

				</div>
			</div>
		</footer>














	</div>
	<script src="/static/js/bootstrap.min.js"></script>
</body>

</html>