<!DOCTYPE html>
<html lang="es">

<head>
	<title>Hechos con Alma</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Your description">
	<meta name="keywords" content="Your keywords">
	<meta name="author" content="Grupo 9">
	<link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">
	<link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon" />

	<link href="/static/css/bootstrap.css" rel="stylesheet">
	<link href="/static/css/font-awesome.css" rel="stylesheet">
	<link href="/static/css/camera.css" rel="stylesheet">
	<link href="/static/css/touchTouch.css" rel="stylesheet">
	<link href="/static/css/isotope.css" rel="stylesheet">
	<link href="/static/css/style.css" rel="stylesheet">

	<script src="/static/js/jquery.js"></script>
	<script src="/static/js/jquery-migrate-1.2.1.min.js"></script>
	<script src="/static/js/jquery.easing.1.3.js"></script>
	<script src="/static/js/superfish.js"></script>

	<script src="/static/js/jquery.queryloader2.js"></script>

	<script src="/static/js/jquery.ui.totop.js"></script>
	<script src="/static/js/jquery.equalheights.js"></script>

	<script src="/static/js/jquery.parallax-1.1.3.resize.js"></script>

	<script src="/static/js/SmoothScroll.js"></script>

	<script src="/static/js/touchTouch.jquery.js"></script>
	<script src="/static/js/jquery.isotope.min.js"></script>

	<script src="/static/js/jquery.mobile.customized.min.js"></script>
	<script src="/static/js/camera.js"></script>

	<script src="/static/js/cform.js"></script>

	<script src="/static/js/scripts.js"></script>

</head>
<!-- AQUI COMIENZA A EDITAR EL ARCHIVO -->

<body class="onepage front" data-spy="scroll" data-target="#top1" data-offset="81">
	<div id="main">
		<div id="top1">
			<div class="container">
				<header>
					<div class="logo_wrapper"><a href="" class="logo scroll-to"><img src="/static/images/Logohechos.png" alt=""
								class="img-responsive-old"></a></div>
				</header>
				<div class="navbar navbar_ navbar-default">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
						data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<div class="navbar-collapse navbar-collapse_ collapse">
						<ul class="nav navbar-nav sf-menu clearfix">
							<li class="active"><a href="{% url 'principal' %}">Inicio</a></li>
							<li><a href="{% url 'objetivos' %}">Objetivos</a></li>
							<li><a href="{% url 'areas' %}">areas</a></li>
							<li><a href="{% url 'nosotros' %}">Sobre Nosotros</a></li>
							<li><a href="{% url 'post_list' %}">Blog</a></li>
							{% if request.user.is_authenticated %}
								<li><a href="{% url 'logout' %}">logout: {{ user }}</a></li>
							{% else %}
								<li><a href="{% url 'login' %}">Login</a></li>
							{% endif %}
							<li><a href="#contacts">Contacto</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<br>
	<div id="home">
		<div id="slider_wrapper">
			<div id="slider_inner" class="clearfix">
				<div id="slider" class="clearfix">
					<div id="camera_wrap">
						<div data-src="/static/images/logoconfondo1.jpg">
							<div class="camera_caption nav2 fadeIn">
								<div class="txt1"><br></div>
								<div class="txt2"></div>
							</div>
						</div>
						<div data-src="/static/images/fundacion1.jpg">
							<div class="camera_caption nav3 fadeIn">
								<div class="txt1"><br>#</div>
								<div class="txt2">Dios te da PAZ</div>
								<div class="txt3"><span>sal.4:8</span></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="home_bot">
			<div class="container">
				<div class="phone1_wrapper">
					<div class="phone1 clearfix"><i class="fa fa-phone-square"></i><span>Teléfono de Contacto
							3725-455384</span></div>
				</div>
				<div class="social_wrapper">
					<ul class="social clearfix">
						<li><a href="https://www.instagram.com/hechocon_alma/?hl=es-la"><i
									class="fa fa-instagram"></i></a></li>
						<li><a href="https://www.facebook.com/Hechos-con-Alma-106138340788976/"><i
									class="fa fa-facebook-square"></i></a></li>
					</ul>
				</div>
				<a href="#services" class="home_link1 scroll-to"><i class="fa fa-arrow-circle-o-down"></i></a>
			</div>
		</div>
	</div>
	<div id="services">
		<div class="services1">
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<div class="block1">
							<img src="" alt="" class="img-responsive-old">
						</div>
					</div>
					<div class="col-sm-6">
						<div class="block2">
							<h3><b> Fundacion Hechos con alma </b></h3>
							<p><b>
								 ¿ Quiénes somos? 💕
								Una ONG formada por un grupo de voluntarios que buscamos ayudar, acompañar y trasmitir
								la fe en Dios por medio de las obras a personas en situación de vulnerabilidad.
								Con el propósito de contribuir a la formación de ciudadanos más empáticos y
								comprometidos con la comunidad.</b></p>
							<a href="{% url 'objetivos' %}" class="btn-default btn1"><i
									class="fa fa-info-circle"></i><span>Seguir leyendo sobre nuestros
									objetivos</span></a>
							<div class="phone2_wrapper">
								<div class="phone2 clearfix"><i class="fa fa-phone"></i><span>3725-455384</span></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="services2">
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<div class="block1">
							<img src="" alt="" class="img-responsive-old">
							<h3><b> Areas de la fundacion </b></h3>
							<p class="estetexto">
								<b>Dia a dia llevamos a cabo distintas actividades, que son posibles debido a que tenemos
								grandes compañeros involucrados en la fundacion sin los cuales no podriamos cumplir con
								nuestros objetivos.</b>
							</p>
							<p>
								<b>En el enlace que se encuentra a continuación, te invitamos a conocer sobre estas
								maravillosas personas y las areas en las que se desempeñan.</b>
							</p>
							<a href="{% url 'areas' %}" class="btn-default btn1"><i class="fa fa-info-circle"></i><span>Hace
									click aqui y conoce a nuestros colaboradores!</span></a>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="block2">
							<img src="#" alt="" class="img-responsive-old">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="services3">
			<div class="container">
				<div class="row">
					<div class="col-sm-7 col-sm-push-5">
						<div class="block1">
							<h3>Donaciones y contribuciones</h3>
							<p>
								Agradecemos de corazon a las personas que se acercan para realizar donaciones y
								contribuciones a la fundacion, en caso de que seas una de ellas poder contactarte con
								nosotros mediante la información del siguiente link.</p>
							<a href=#contacts class="btn-default btn1"><i
									class="fa fa-info-circle"></i><span>Contactanos</span></a>
						</div>
					</div>
					<div class="col-sm-5 col-sm-pull-7">
						<div class="block2">
							<img src="#" alt="" class="img-responsive-old">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="packages">
		<div id="parallax1" class="parallax">
			<div class="bg1 parallax-bg"></div>
			<div class="overlay"></div>
			<div class="container">
				<div class="parallax-content">
					<div class="txt1">Buscamos voluntarios</div>
					<div class="txt2">Queremos contar con vos</div>
					<div class="txt3"><span><em class="l"></em>Las manos que ayudan hacen más milagros que los labios
							que rezan<em class="r"></em></span></div>
					<div class="txt4"><a href="#contacts" class="btn-default btn2 scroll-to">Click aqui para
							contactarnos</a></div>
				</div>
			</div>
		</div>
		<div id="about">
			<div class="container">
				<h2 class="text-center">Actividades llevadas a cabo actualmente</h2>
				<div class="row">
					<div class="col-sm-6">
						<ul class="ul2">
							<li>*Elaboración y venta de productos de limpiezas para recaudar fondos.
							</li>
							<li>*Huerta agroecológica para suministrar alimentos a un asilo de ancianos y dar
								sustento al comedor y/o a las familias que lo soliciten.
							</li>
							<li>*Acompañamiento en duelo con profesionales , dando charlas y reuniones.
							</li>
							<li>*Comedor y merendero
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div id="contacts">
			<div id="contacts1">
				<div class="container">
					<h2>Ponete en contacto con nosotros</h2>
					<div class="time1_wrapper">
						<div class="time1 clearfix"><i class="fa fa-clock-o"></i><span>
								<div class="txt1">3725-455384</div>
								<div class="txt2">Calle Ayacucho Nº430<br>Gral. José de San Martín, Chaco</div>
							</span></div>
					</div>
				</div>
			</div>
			<div id="contacts2">
				<h3>Encontranos en General San Martin, Provincia del Chaco.</h3>
			</div>
			<figure class="google_map">
				<iframe
					src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1784.7187654539866!2d-59.35003534203358!3d-26.538208596218514!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xcc449d44c8bb5e76!2zMjbCsDMyJzE3LjYiUyA1OcKwMjAnNTYuMiJX!5e0!3m2!1ses-419!2sar!4v1661215249458!5m2!1ses-419!2sar"
					width="800" height="500" style="border:0;" allowfullscreen="" loading="lazy"
					referrerpolicy="no-referrer-when-downgrade"></iframe>
			</figure>
		</div>
		<div id="bot1">
			<div class="container">
				<div class="bot1_inner clearfix">
					<div class="social_wrapper_bot">
						<ul class="social clearfix">
							<li>Seguinos en nuestras redes</li>
							<li><a href="https://www.instagram.com/hechocon_alma/?hl=es-la"><i
										class="fa fa-instagram"></i></a></li>
							<li><a href="https://www.facebook.com/Hechos-con-Alma-106138340788976/"><i
										class="fa fa-facebook-square"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<footer>
			<div class="container">
				<div class="footer_inner clearfix">
					<div class="copy1">Fundacion "Hechos con alma" Fundada en 2019 .</div>
				</div>
			</div>
		</footer>
	</div>
	<script src="/static/js/bootstrap.min.js"></script>
</body>

</html>