{% load static %}
<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
    </head>
    <body>
        <h1>Bienvenido a nuestro Login Page:</h1>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        {% if user.is_authenticated %}
            <h2>Usted está logeado como: {{ user.username }}</h2>
            <a href= "{% url 'logout' %}">Cerrar sesión</a>
            <a href="{% url 'principal' %}">Volver al inicio</a>
        {% else %}
            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-success" type="submit">Iniciar Sesión:</button>
            </form>
            <p>No tiene una cuenta? <span> <a href="{% url 'registrar_usuario' %}"> Registrese acá:</a></span></p>
        {% endif %}

    </body>
</html>