<!DOCTYPE html>
<html lang="es">

<head>
	<title>Nuestros objetivos</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Your description">
	<meta name="keywords" content="Your keywords">
	<meta name="author" content="Your name">
	<link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">
	<link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon" />

	<link href="/static/css/bootstrap.css" rel="stylesheet">
	<link href="/static/css/font-awesome.css" rel="stylesheet">

	<link href="/static/css/touchTouch.css" rel="stylesheet">
	<link href="/static/css/isotope.css" rel="stylesheet">
	<link href="/static/css/style.css" rel="stylesheet">

	<script src="/static/js/jquery.js"></script>
	<script src="/static/js/jquery-migrate-1.2.1.min.js"></script>
	<script src="/static/js/jquery.easing.1.3.js"></script>
	<script src="/static/js/superfish.js"></script>

	<script src="/static/js/jquery.queryloader2.js"></script>

	<script src="/static/js/jquery.ui.totop.js"></script>
	<script src="/static/js/jquery.equalheights.js"></script>

	<script src="/static/js/jquery.parallax-1.1.3.resize.js"></script>

	<script src="/static/js/SmoothScroll.js"></script>

	<script src="/static/js/touchTouch.jquery.js"></script>
	<script src="/static/js/jquery.isotope.min.js"></script>

	<script src="/static/js/jquery.mobile.customized.min.js"></script>
	<script src="/static/js/camera.js"></script>

	<script src="/static/js/scripts.js"></script>


</head>

<body class="multipage not-front">
	<div id="main">

		<div id="top1">
			<div class="container">

				<header>
					<div class="logo_wrapper"><a href="index.html" class="logo scroll-to"><img
								src="/static/images/Logohechos.png" alt="" class="img-responsive-old"></a></div>
				</header>

				<div class="navbar navbar_ navbar-default">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
						data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<div class="navbar-collapse navbar-collapse_ collapse">
						<ul class="nav navbar-nav sf-menu clearfix">
							<li class="active"><a href="index.html">Inicio</a></li>
							<li><a href="{% url 'objetivos' %}">Objetivos</a></li>
							<li><a href="areas.html">areas</a></li>
							<li><a href="nosotros.html">Sobre Nosotros</a></li>
							<li><a href="blog.html">Blog</a></li>
							<li><a href="index.html#contacts">Contacto</a></li>
						</ul>
					</div>
				</div>

			</div>
		</div>



		<div id="home-subpage">
			<div id="home-subpage-inner">

				<div class="page_slide"><img src="/static/images/page_slide1.jpg" alt=""></div>

				<div class="h1_wrapper">
					<div class="container">
						<h1>Areas de actividades en la fundacion</h1>
					</div>
				</div>


			</div>
		</div>

		<div class="home_bot">
			<div class="container">

				<div class="phone1_wrapper">
					<div class="phone1 clearfix"><i class="fa fa-phone-square"></i><span>Contacto 3725-455384</span>
					</div>
				</div>

				<div class="social_wrapper">
					<ul class="social clearfix">

						<li><a href="https://www.instagram.com/hechocon_alma/?hl=es-la"><i
									class="fa fa-instagram"></i></a></li>
						<li><a href="https://www.facebook.com/Hechos-con-Alma-106138340788976/"><i
									class="fa fa-facebook-square"></i></a></li>

					</ul>
				</div>

				<a href="#content" class="home_link1 scroll-to"><i class="fa fa-arrow-circle-o-down"></i></a>



			</div>
		</div>

		<div id="content">
			<div class="container">
				<div class="row">
					<div class="col-sm-9 minheight1">

						<h2>Los objetivos que nos hemos propuesto son:</h2>

						<div class="row">

							<div class="col-sm-8">


								<p>● Crear un espacio de contención y superación (económica, cultural, educativa, moral,
									social) principalmente destinada a niños y adolescentes más vulnerables de nuestra
									comunidad de Gral. San Martin, Chaco con acompañamiento del grupo familiar.
								</p>
								<br>

								<p>● Propender a la Institución social de la población indicada (niños, jóvenes y su
									grupo
									familiar) fomentando actividades de diversa índole tales como: alimentación
									adecuada, a través del funcionamiento de un merendero, control nutricional y ayudas
									económicas (para la obtención de alimentos y medicamentos), educativas,
									culturales y recreativas, con apoyo escolar, enseñanza de artes (dibujo, pintura,
									danzas), talleres y oficios (construcción, peluquería, realización de artesanías,
									panadería, etc) controles médicos, odontológicos y psicológicos, ayuda moral o
									espiritualidad.
								</p>
								<br>

								<p>● Realizar diversos eventos recreativos y culturales, que propendan a la mayor
									integración entre los miembros de la comunidad especialmente vulnerable,
									reforzando los lazos de solidaridad y cooperación, entre los mismos y el resto de la
									comunidad de Gral. San Martín Chaco.
								</p>
								<br>

								<p> ● Impulsar la integración de distintas comunidades generando ámbitos de
									capacitación para el desarrollo integral de las personas, especialmente en oficios
									que les brinden una salida laboral a corto plazo para lograr el desarrollo del
									hombre
									y su grupo familiar en los aspectos de infraestructura, salud, educación, deporte,
									viviendas, cloacas, comedores y trabajo en sectores vulnerables a fin de rescatar la
									dignidad de las personas.
								</p>
								<br>

								<p>● Acordar con organismos especializados , oficiales y/o particulares, municipales,
									provinciales, nacionales o del extranjero, el intercambio de políticas, información,
									recursos humanos, financieros o de otra índole que sean conducentes a alcanzar
									por medios lícitos el mejoramiento de la calidad de vida de personas con
									necesidades básicas insatisfechas.
								</p>
								<br>

								<p>● Gestionar y celebrar acuerdos o convenios con entidades, personas, equipos de
									investigación, universidades públicas o privadas, centro de estudios a nivel
									terciario
									superior, administrar proyectos de investigación y de desarrollo y otras actividades
									relacionadas con su objeto.
								</p>

							</div>
						</div>

					</div>


				</div>

			</div>
		</div>
	</div>

	<footer>
		<div class="container">
			<div class="footer_inner clearfix">

				<div class="copy1">Fundacion "Hechos con alma" Fundada en 2019 .</div>
				<div class="social_wrapper">
					<ul class="social clearfix">

						<li>Seguinos en nuestras redes</li>
						<li><a href="https://www.instagram.com/hechocon_alma/?hl=es-la"><i
									class="fa fa-instagram"></i></a></li>
						<li><a href="https://www.facebook.com/Hechos-con-Alma-106138340788976/"><i
									class="fa fa-facebook-square"></i></a></li>

					</ul>
				</div>

			</div>
		</div>
	</footer>














	</div>
	<script src="/static/js/bootstrap.min.js"></script>
</body>

</html>