<canvas width="600" height="400"></canvas>

<script>
    var pantalla = document.querySelector("canvas");
    var pincel = pantalla.getContext("2d");

    pincel.fillStyle="green";
    pincel.fillRect(0, 0, 600, 400);

    function exibirAlerta(evento) {
        var x = evento.pageX - pantalla.offsetLeft;
        var y = evento.pageY - pantalla.offsetTop;
        console.log(evento)

        alert(x + "," + y); 
    }


        function dibujarCirculo(evento) {
        var x = evento.pageX - pantalla.offsetLeft;
        var y = evento.pageY - pantalla.offsetTop;

        pincel.fillStyle = "blue";
        pincel.beginPath();//direccion donde inicia el circulo
        pincel.arc(x,y,10,0,2*3.14);//parametros del circulo.
        pincel.fill(); //dibuja el circulo

        console.log(x + "," + y); //guarda las coordenadas donde hicimos click
    }
    //pantalla.onclick = exibirAlerta;
    pantalla.onclick = dibujarCirculo;


</script>